@charset "UTF-8";
/* Палитра сайта */
/* 
--------Фон страницы-----
Первичный цвет фона: #ffffff
Вторичный цвет фона: #2f303a
Цвет фона отдельных секций: #F5F4FA

--------Цвет текста------
Первичный цвет текста: #757575
Вторичный цвет текста: #ffffff
Цвет текста заголовков: #212121
Базовый цвет логотипа: #000000

--------Цвет кнопок------
Первичный цвет кнопок: #F5F4FA
Вторичный цвет кнопок: #2196F3

--------Цвет иконок------
Первичный цвет иконок: #AFB1B8
Вторичный цвет иконок: #ffffff

--------Цвет фона иконок------
Первичный цвет фона иконок: #ffffff
Вторичный цвет фона иконок: rgba(255, 255, 255, 0.1)

--------Цвет акцента-----
Первичный цвет акцента текста: #2196F3
Первичный цвет акцента элемента: #2196F3
Вторичный цвет акцента элемента: #ffffff
Третичный цвет акцента элемента: #188CE8


/* Геометрия */
/* 
--------Зазоры в сетках элементов-----
Первичный зазор между элементами сетки: 30px


/* Переходы/анимация */
/*
--------Время перехода/анимации-----
Первичное время перехода/анимации: 250ms

--------Функция распределения времени анимации-----
Первичная функция распределения времени: cubic-bezier(0.4, 0, 0.2, 1)


/* Переходы/анимация */
/*
--------Точки перелома-----
Мобильное устройство: 480px
Планшет: 768px
Десктоп: 1200px
*/
:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-basic-text-color: #000000;
  --primary-button-color: #f5f4fa;
  --secondary-button-color: #2196f3;
  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;
  --primary-bg-color-icon: #ffffff;
  --secondary-bg-color-icon: rgba(255, 255, 255, 0.1);
  /* Палитра акцентов */
  --primary-text-accent-color: #2196f3;
  --primary-element-accent-color: #2196f3;
  --secondary-element-accent-color: #ffffff;
  --tertiary-element-accent-color: #188ce8;
  /* Переменная зазоров в сетках элементов */
  --flexbox-items-gap: 30px;
  /* Время перехода/анимации */
  --primary-duration: 250ms;
  /* Функция распределения времени анимации */
  --primary-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h2 {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 36px;
    line-height: 1.17;
  }
}

h3 {
  color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section--no-padding-top {
  padding-top: 0;
}
.section--background-color {
  background-color: var(--section-bg-color);
}
@media screen and (max-width: 1199px) {
  .section--only-desktop {
    display: none;
  }
}

.section__title--margin {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title--margin {
    margin-bottom: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*

@include button(
  $position: 0,
  $top: 0,
  $right: 0,
  //$transformTranslate заполнять как: (x%, y%)
  $transformTranslate: 0,
  $display: block,
  $justifyContent: 0,
  $alignItems: 0,
  $width: 0,
  $height: 0,
  $margin: 0 auto,
  $padding: 10px 32px,
  $border: none,
  $borderRadius: 4px,
  $backgroundColor: var(--secondary-button-color),
  $color: var(--secondary-text-color),
  // $boxShadow, если теней более одной,
  // заполнять в круглых скобках, через запятую и
  // пробел: (<тень>, <тень>)
  $boxShadow: 0,
  // $fontFamily, если значений более одного,
  // заполнять в круглых скобках, через запятую и
  // пробел: (<значение>, <значение>)
  $fontFamily:
    (
      Roboto,
      sans-serif,
    ),
  $fontStyle: normal,
  $fontWeight: bold,
  $fontSize: 16px,
  $lineHeight: 1.87,
  $textAlign: center,
  $letterSpacing: 0.06em
);

*/
/* I. Стили главной страницы */
/* Шапка сайта */
.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header--no-mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header--no-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav,
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  display: inline-block;
  position: relative;
  padding: 32px 0;
  color: var(--title-text-color);
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--primary-text-accent-color);
}
.nav-list__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-element-accent-color);
  opacity: 0;
}

.nav-list__link.current {
  color: var(--primary-text-accent-color);
}

.current.nav-list__link::after {
  opacity: 1;
}

.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__mail,
.contact-list__phone {
  color: var(--primary-text-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.contact-list__mail:hover, .contact-list__mail:focus,
.contact-list__phone:hover,
.contact-list__phone:focus {
  color: var(--primary-text-accent-color);
}

/* Компонент LOGO */
.logo {
  display: inline-block;
  color: var(--logo-basic-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.logo__accent {
  color: var(--primary-text-accent-color);
}
.logo:hover, .logo:focus {
  color: var(--primary-text-accent-color);
}
@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__logo {
  margin: 0 0 20px 0;
  padding: 0;
  color: var(--secondary-text-color);
}

.mobile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.mobile-menu__button:hover, .mobile-menu__button:focus {
  cursor: pointer;
  fill: var(--primary-element-accent-color);
}
.mobile-menu__button .mobile-menu__icon-close {
  display: none;
}
.mobile-menu__button.is-open .mobile-menu__icon-close {
  display: block;
}
.mobile-menu__button.is-open .mobile-menu__icon-open {
  display: none;
}

.mobile-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.75);
      -ms-transform: scale(0.75);
          transform: scale(0.75);
  position: absolute;
  top: 0;
  left: -15px;
  right: -15px;
  z-index: 10;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  overflow-y: scroll;
  -webkit-transition-property: -webkit-transform opacity;
  transition-property: -webkit-transform opacity;
  -o-transition-property: transform opacity;
  transition-property: transform opacity;
  transition-property: transform opacity, -webkit-transform opacity;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.mobile-menu__content.is-open {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.mobile-menu__nav-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-list-item:last-child {
  margin-bottom: 64px;
}

.mobile-menu__nav-list-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.mobile-menu__nav-list-link:hover, .mobile-menu__nav-list-link:focus {
  color: var(--primary-text-accent-color);
}

.mobile-menu__nav-list-link.current {
  color: var(--primary-text-accent-color);
}

.mobile-menu__contact-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-list-item:last-child {
  margin-bottom: 64px;
}

.mobile-menu__contact-list-phone {
  color: var(--primary-text-accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__contact-list-mail {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__social-networks-list {
  letter-spacing: 0;
}

.mobile-menu__social-networks-list-item {
  display: inline-block;
}
.mobile-menu__social-networks-list-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-networks-list-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-networks-list-link {
  color: var(--primary-text-accent-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

/* Блок "ГЕРОЙ"*/
.hero {
  background-color: var(--secondary-bg-color);
}

.hero__content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/background-hero.jpg);
  background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/background-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/background-hero.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: var(--secondary-button-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition-property: -webkit-box-shadow background-color;
  transition-property: -webkit-box-shadow background-color;
  -o-transition-property: box-shadow background-color;
  transition-property: box-shadow background-color;
  transition-property: box-shadow background-color, -webkit-box-shadow background-color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.button:hover, .button:focus {
  cursor: pointer;
  background-color: var(--tertiary-element-accent-color);
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity transform;
  -o-transition-property: opacity transform;
  transition-property: opacity transform;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__closing-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.modal__closing-button:hover, .modal__closing-button:focus {
  background-color: currentColor;
  cursor: pointer;
  fill: var(--primary-element-accent-color);
}

.modal__offer {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__offer {
    line-height: 1.15;
  }
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__label--another-margin {
  margin-bottom: 20px;
}
.form__label--no-margin {
  margin: 0;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.form__input:focus {
  border: 1px solid var(--primary-element-accent-color);
}
.form__input:focus + .form__icon {
  fill: var(--primary-element-accent-color);
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.form__label:hover {
  cursor: pointer;
}
.form__label:hover .form__input {
  border: 1px solid var(--primary-element-accent-color);
  cursor: pointer;
}
.form__label:hover .form__icon {
  fill: var(--primary-element-accent-color);
}

.textarea {
  width: 100%;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-moz-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-ms-input-placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:focus {
  border: 1px solid var(--primary-element-accent-color);
}

.form__label:hover .textarea {
  border: 1px solid var(--primary-element-accent-color);
  cursor: pointer;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}
.policy:hover {
  cursor: pointer;
}

.policy__checkbox-custom {
  display: inline-block;
  position: relative;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.policy__checkbox-icon {
  position: absolute;
  top: -2px;
  left: -2px;
}

.policy__checkbox-original:hover + .policy__checkbox-custom,
.policy__checkbox-original:focus + .policy__checkbox-custom {
  border: 2px solid var(--primary-element-accent-color);
}

.policy__checkbox-original:checked + .policy__checkbox-custom {
  background-color: var(--primary-element-accent-color);
  border: 2px solid transparent;
}

.policy__link {
  color: var(--primary-text-accent-color);
}

.modal__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Преимущества / особенности ВебСтудии */
@media screen and (min-width: 768px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits-list__item {
  -ms-flex-preferred-size: calc(100% - (3 * var(--flexbox-items-gap) / 4));
      flex-basis: calc(100% - (3 * var(--flexbox-items-gap) / 4));
}
.benefits-list__item:not(:last-child) {
  margin-right: var(--flexbox-items-gap);
}

.benefits-list__icon-box {
  width: 270px;
  height: 120px;
  margin-bottom: var(--flexbox-items-gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--section-bg-color);
  border-radius: 4px;
}

.benefits-list__item-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Услуги ВебСтудии */
.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item {
  position: relative;
  -ms-flex-preferred-size: calc(100% - (2 * var(--flexbox-items-gap)) / 3);
      flex-basis: calc(100% - (2 * var(--flexbox-items-gap)) / 3);
}
.services-list__item:not(:last-child) {
  margin-right: var(--flexbox-items-gap);
}

.services-list__item-overlay {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-list__item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Наша команда */
@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-list__item {
  -ms-flex-preferred-size: calc(100% - (3 * var(--flexbox-items-gap)) / 4);
      flex-basis: calc(100% - (3 * var(--flexbox-items-gap)) / 4);
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list__item:not(:last-child) {
  margin-right: var(--flexbox-items-gap);
}

.team-list__item-images {
  margin-bottom: 30px;
}

.team-list__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__item-text {
  color: var(--primary-text-color);
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Ссылки на социальные сети */
.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social-networks-list__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.social-networks-list__icon-box--another {
  background-color: var(--secondary-bg-color-icon);
}

.social-networks-list__icon {
  fill: var(--primary-icon-color);
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.social-networks-list__icon--another {
  fill: var(--secondary-icon-color);
}

.social-networks-list__link:hover .social-networks-list__icon-box,
.social-networks-list__link:focus .social-networks-list__icon-box {
  background-color: var(--primary-element-accent-color);
}
.social-networks-list__link:hover .social-networks-list__icon,
.social-networks-list__link:focus .social-networks-list__icon {
  fill: var(--secondary-element-accent-color);
}

/* Постоянные клиенты */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-items-gap));
  margin-left: calc(-1 * var(--flexbox-items-gap));
}

.clients-list__item {
  margin-top: var(--flexbox-items-gap);
  margin-left: var(--flexbox-items-gap);
  -ms-flex-preferred-size: calc(100% / 2 - var(--flexbox-items-gap));
      flex-basis: calc(100% / 2 - var(--flexbox-items-gap));
}

.clients-list__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.clients-list__icon {
  fill: var(--primary-icon-color);
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.clients-list__link:hover .clients-list__icon-box,
.clients-list__link:focus .clients-list__icon-box {
  border: 1px solid var(--primary-element-accent-color);
}
.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--primary-element-accent-color);
}

/* Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

@media screen and (min-width: 768px) {
  .information-about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.address {
  width: 231px;
  margin-right: 70px;
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__map {
  margin-bottom: 9px;
}

.address__mail {
  margin-bottom: 9px;
}

.address__mail,
.address__phone {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.address__mail:hover, .address__mail:focus,
.address__phone:hover,
.address__phone:focus {
  color: var(--primary-text-accent-color);
}

.our-social-networks {
  padding-top: 12px;
  margin-right: 93px;
}
.our-social-networks__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.our-newsletter {
  padding-top: 12px;
}
.our-newsletter__title {
  margin-bottom: 17px;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.form__input--footer-style {
  display: block;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.form__input--footer-style::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer-style::-moz-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer-style:-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer-style::-ms-input-placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__input--footer-style::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .form__input--footer-style {
    display: inline-block;
    width: 358px;
    margin: 0 12px 0 0;
  }
}

.footer__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__button-icon {
  margin-left: 10px;
}

/* II. Стили страницы "Портфолио" */
/* Список фильтров */
.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;
}

.filters-list__button {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-button-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition-property: color background-color box-shadow;
  -o-transition-property: color background-color box-shadow;
  transition-property: color background-color box-shadow;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}
.filters-list__button:hover, .filters-list__button:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-element-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* Список работ студии */
.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(-1 * var(--flexbox-items-gap));
  margin-left: calc(-1 * var(--flexbox-items-gap));
}

.works-list__item {
  margin-top: var(--flexbox-items-gap);
  margin-left: var(--flexbox-items-gap);
  -ms-flex-preferred-size: calc(100% / 3 - var(--flexbox-items-gap));
      flex-basis: calc(100% / 3 - var(--flexbox-items-gap));
}

.works-list__caption-border {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.works-list__link-box {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.works-list__link {
  text-decoration: none;
}
.works-list__link:hover .works-list__link-box, .works-list__link:focus .works-list__link-box {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list__thumb {
  position: relative;
  overflow: hidden;
}

.works-list__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--primary-duration);
       -o-transition-duration: var(--primary-duration);
          transition-duration: var(--primary-duration);
  -webkit-transition-timing-function: var(--primary-timing-function);
       -o-transition-timing-function: var(--primary-timing-function);
          transition-timing-function: var(--primary-timing-function);
}

.works-list__link:hover .works-list__overlay,
.works-list__link:focus .works-list__overlay {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.works-list__overlay-text {
  padding: 0 24px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.works-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}

.works-list__text {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}/*# sourceMappingURL=main.css.map */