@mixin cssTransition(
  $property,
  $duration: var(--primary-duration),
  $timingFunction: var(--primary-timing-function)
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timingFunction;
}
// Миксин позволяет добавлять анимируемые свойства от 1 до бесконечности

//  // // // // // @include cssTransition(color background-color box-shadow);
// В прмере добавлены 3 свойства кнопки   ^^^^   ^^^^^^^^^^^^^^   ^^^^^^^^
// фильтра из Портфолио.
// Свойства добавлять через пробел без запятых.
