/* Преимущества / особенности ВебСтудии */

.benefits-list {
  @media screen and (min-width: $tablet) {
    display: flex;

    flex-wrap: wrap;

    margin-top: calc(-1 * var(--flexbox-items-gap));
    margin-left: calc(-1 * var(--flexbox-items-gap));
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;

    margin-top: 0;
    margin-left: 0;
  }
}

.benefits-list__item {
  @media screen and (min-width: $tablet) {
    margin-top: var(--flexbox-items-gap);
    margin-left: var(--flexbox-items-gap);

    flex-basis: calc(100% / 2 - var(--flexbox-items-gap));
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 0;

    flex-basis: calc(100% - (3 * var(--flexbox-items-gap) / 4));

    &:not(:last-child) {
      margin-right: var(--flexbox-items-gap);
    }
  }
}

.benefits-list__icon-box {
  height: 120px;
  margin-bottom: var(--flexbox-items-gap);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-color);

  border-radius: 4px;
}

.benefits-list__item-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}
