/* Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.information-about-us {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__contacts {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.our-contacts {
  text-align: center;

  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;

    margin-right: 70px;
  }
}

.address {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &__map,
  &__mail {
    margin-bottom: 8px;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }
}

.address__mail,
.address__phone {
  display: block;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  @include cssTransition(color);

  &:hover,
  &:focus {
    color: var(--primary-text-accent-color);
  }
}

.our-social-networks {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-text-color);
  }
}

.our-newsletter__title {
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.form__input--footer-style {
  display: block;

  height: 50px;

  margin: 0 0 20px 0;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--secondary-bg-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (max-width: ($tablet - 1px)) {
    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    display: inline-block;

    width: 358px;

    margin: 0 12px 0 0;
  }
}

.footer__button {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.footer__button-icon {
  margin-left: 10px;
}
