/* Подвал сайта */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.information-about-us {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.address {
  width: 231px;

  margin-right: 70px;

  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__map {
  margin-bottom: 9px;
}

.address__mail {
  margin-bottom: 9px;
}

.address__mail,
.address__phone {
  display: block;

  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);

  @include cssTransition(color);

  &:hover,
  &:focus {
    color: var(--primary-text-accent-color);
  }
}

.our-social-networks {
  padding-top: 12px;
  margin-right: 93px;

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
  }
}

.our-newsletter {
  padding-top: 12px;

  &__title {
    margin-bottom: 17px;

    color: var(--secondary-text-color);

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.footer__form {
  display: flex;
  justify-content: start;
}

.form__input--footer-style {
  display: inline-block;

  width: 358px;
  height: 50px;
  margin: 0 12px 0 0;

  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: var(--secondary-bg-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;

  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__button {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.footer__button-icon {
  margin-left: 10px;
}
