/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 20;

  background-color: rgba(0, 0, 0, 0.2);

  @include cssTransition(opacity transform);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;

    transform: scale(1.1);
  }

  overflow-y: scroll;
}

.modal {
  position: absolute;

  top: 15px;
  left: 15px;
  right: 15px;

  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $mobile) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 528px;
  }
}

.modal__closing-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  @include cssTransition(fill);

  &:hover,
  &:focus {
    background-color: currentColor;
    cursor: pointer;
    fill: var(--primary-element-accent-color);
  }
}

.modal__offer {
  margin-bottom: 12px;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}

.form__label {
  position: relative;

  display: block;

  margin-bottom: 10px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  &--another-margin {
    margin-bottom: 20px;
  }

  &--no-margin {
    margin: 0;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;

  @include cssTransition(border);

  &:focus {
    border: 1px solid var(--primary-element-accent-color);

    & + .form__icon {
      fill: var(--primary-element-accent-color);
    }
  }
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;

  @include cssTransition(fill);
}

.form__label:hover {
  cursor: pointer;
  & .form__input {
    border: 1px solid var(--primary-element-accent-color);
    cursor: pointer;
  }
  & .form__icon {
    fill: var(--primary-element-accent-color);
  }
}

.textarea {
  width: 100%;

  resize: none;

  margin-top: 4px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000000;

  @include cssTransition(border);

  &::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid var(--primary-element-accent-color);
  }
}

.form__label:hover .textarea {
  border: 1px solid var(--primary-element-accent-color);
  cursor: pointer;
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }

  &:hover {
    cursor: pointer;
  }
}

.policy__checkbox-custom {
  display: inline-block;

  position: relative;

  margin-right: 8px;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;

  @include cssTransition(border);
}

.policy__checkbox-icon {
  position: absolute;
  top: -2px;
  left: -2px;
}

.policy__checkbox-original:hover + .policy__checkbox-custom,
.policy__checkbox-original:focus + .policy__checkbox-custom {
  border: 2px solid var(--primary-element-accent-color);
}

.policy__checkbox-original:checked + .policy__checkbox-custom {
  background-color: var(--primary-element-accent-color);
  border: 2px solid transparent;
}

.policy__link {
  color: var(--primary-text-accent-color);
}

.modal__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
