/* Наша команда */

.team-list {
  @media screen and (min-width: $tablet) {
    display: flex;

    flex-wrap: wrap;

    margin-top: calc(-1 * var(--flexbox-items-gap));
    margin-left: calc(-1 * var(--flexbox-items-gap));
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;

    margin-top: 0;
    margin-left: 0;
  }
}

.team-list__item {
  padding-bottom: 24px;

  border-radius: 0px 0px 4px 4px;

  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-bottom: var(--flexbox-items-gap);

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: var(--flexbox-items-gap);
    margin-left: var(--flexbox-items-gap);

    flex-basis: calc(100% / 2 - var(--flexbox-items-gap));
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 30px;

    flex-basis: calc(100% - (3 * var(--flexbox-items-gap)) / 4);

    &:not(:last-child) {
      margin-right: var(--flexbox-items-gap);
    }
  }
}

.team-list__item-images {
  margin-bottom: 30px;
}

.team-list__item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__item-text {
  color: var(--primary-text-color);

  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
