/* II. Стили страницы "Портфолио" */
/* Список фильтров */
.filters-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    flex-wrap: nowrap;
    justify-content: center;

    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filters-list__item:not(:last-child) {
  margin-right: 8px;

  &:nth-last-child(n + 3) {
    @media screen and (max-width: ($tablet - 1px)) {
      margin-bottom: 15px;
    }
  }
}

.filters-list__button {
  @include button(
    $position: 0,
    $top: 0,
    $right: 0,
    //$transformTranslate заполнять как: (x%, y%)
    $transformTranslate: 0,
    $display: 0,
    $justifyContent: 0,
    $alignItems: 0,
    $width: 0,
    $height: 0,
    $margin: 0,
    $padding: 6px 22px,
    $border: none,
    $borderRadius: 4px,
    $backgroundColor: var(--primary-button-color),
    $color: var(--title-text-color),
    // $boxShadow, если теней более одной,
    // заполнять в круглых скобках, через запятую и
    // пробел: (<тень>, <тень>)
    $boxShadow: 0,
    // $fontFamily, если значений более одного,
    // заполнять в круглых скобках, через запятую и
    // пробел: (<значение>, <значение>)
    $fontFamily: 0,
    $fontStyle: 0,
    $fontWeight: 500,
    $fontSize: 16px,
    $lineHeight: 1.62,
    $textAlign: center,
    $letterSpacing: 0.03em
  );

  @include cssTransition(color background-color box-shadow);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--primary-element-accent-color);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    cursor: pointer;
  }
}
