/* Палитра сайта */
/* 
--------Фон страницы-----
Первичный цвет фона: #ffffff
Вторичный цвет фона: #2f303a
Цвет фона отдельных секций: #F5F4FA

--------Цвет текста------
Первичный цвет текста: #757575
Вторичный цвет текста: #ffffff
Цвет текста заголовков: #212121
Базовый цвет логотипа: #000000

--------Цвет кнопок------
Первичный цвет кнопок: #F5F4FA
Вторичный цвет кнопок: #2196F3

--------Цвет иконок------
Первичный цвет иконок: #AFB1B8
Вторичный цвет иконок: #ffffff

--------Цвет фона иконок------
Первичный цвет фона иконок: #ffffff
Вторичный цвет фона иконок: rgba(255, 255, 255, 0.1)

--------Цвет акцента-----
Первичный цвет акцента текста: #2196F3
Первичный цвет акцента элемента: #2196F3
Вторичный цвет акцента элемента: #ffffff
Третичный цвет акцента элемента: #188CE8


/* Геометрия */
/* 
--------Зазоры в сетках элементов-----
Первичный зазор между элементами сетки: 30px


/* Переходы/анимация */
/*
--------Время перехода/анимации-----
Первичное время перехода/анимации: 250ms

--------Функция распределения времени анимации-----
Первичная функция распределения времени: cubic-bezier(0.4, 0, 0.2, 1)


/* Переходы/анимация */
/*
--------Точки перелома-----
Мобильное устройство: 480px
Планшет: 768px
Десктоп: 1200px
*/

:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;

  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-basic-text-color: #000000;

  --primary-button-color: #f5f4fa;
  --secondary-button-color: #2196f3;

  --primary-icon-color: #afb1b8;
  --secondary-icon-color: #ffffff;

  --primary-bg-color-icon: #ffffff;
  --secondary-bg-color-icon: rgba(255, 255, 255, 0.1);

  /* Палитра акцентов */
  --primary-text-accent-color: #2196f3;
  --primary-element-accent-color: #2196f3;
  --secondary-element-accent-color: #ffffff;
  --tertiary-element-accent-color: #188ce8;

  /* Переменная зазоров в сетках элементов */
  --flexbox-items-gap: 30px;

  /* Время перехода/анимации */
  --primary-duration: 250ms;

  /* Функция распределения времени анимации */
  --primary-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// Точки перелома
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
